<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.ronin.exifutility" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ExifUtility</name>

    <js-module name="ExifUtility" src="www/exifutil.js">
        <clobbers target="cordova.plugins.ExifUtility" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ExifUtility">
                <param name="ios-package" value="CDVExifUtility" />
            </feature>
        </config-file>
        <header-file src="src/ios/exifutil.h" />
        <source-file src="src/ios/exifutil.m" />
    </platform>
    
</plugin>
